---
import BaseLayout from '../../layouts/BaseLayout.astro';
import BlogPost from '../../components/BlogPost.astro';

export async function getStaticPaths() {
  const allPosts = await Astro.glob('../posts/*.md');

  return [
    {params: {tag: "astro"}, props: {posts: allPosts}},
    {params: {tag: "成功"}, props: {posts: allPosts}},
    {params: {tag: "コミュニティ"}, props: {posts: allPosts}},
    {params: {tag: "ブログ"}, props: {posts: allPosts}},
    {params: {tag: "後退"}, props: {posts: allPosts}},
    {params: {tag: "公開学習"}, props: {posts: allPosts}}
  ]
}

const { tag } = Astro.params;
const { posts } = Astro.props;
const filteredPosts = posts.filter((post) => post.frontmatter.tags?.includes(tag));
---
<BaseLayout pageTitle={tag}>
  <p>{tag}のタグが付いた記事</p>
  <ul>
    {filteredPosts.map((post) => <BlogPost 
      url={post.url} 
      title={post.frontmatter.title}
      date={post.frontmatter.pubDate.slice(2, 10)} />)}
  </ul>
</BaseLayout>